body {
  background: #ffe6ec;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
}

.container {
  text-align: center;
}

img {
  width: 200px;
  transition: 0.5s;
}

button {
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
}

#yes {
  background: hotpink;
  color: white;
  transition: transform 0.5s;
}

#no {
  background: lightgray;
}
